  .root{
    background: beige;
  }
  .App {
    text-align: center;
    direction: rtl;
    font-size: 18px;
  }
  .header-position{
    position: absolute;
    width: 1145px;
  }
  .header-img{
    border-radius: 12px;
  }
  .menu-list-item{
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
  }
  .menu-list-item:not(:last-child){
    border-left: 1px solid currentColor;
  }
  .menu-list-item-txt{
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border: none;
    font-weight: 500;
    font-size:18px;
  }
  .menu-list-item-txt:hover{
    font-weight: bold;
  }
  .divider {
    margin-bottom: -1px;
    border-top: 1px solid currentColor;
    opacity: 0.1;
  }
  .product{
    display:inline-block;
    margin-right: 15px;
    margin-left: 15px;
  }
  .margin-top-bottom{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .product-name{
    font-weight: bold;
    font-size: 18px;
    text-align: right;
  }
  .title{
    font-size:18px;
    font-weight: bold;
  }
  .category-name{
    font-weight: 500;
    font-size: 18px;
  }
  .item{
    margin-right: 30px;
    margin-left: 30px;
  }
  .box{
    border-radius: 12px;
    box-shadow: 0 5px 22px 0 rgb(161 166 192);
    background: white;
  }

  .cart{
    margin-top: 27px;
  }
  .cart-title{
    font-weight: bold;
    font-size: 18px;
  }
  .cart-title-text{
    margin-top: 15px;
  }
  .empty-cart{
    min-height: 200px;
    color: gray;
  }
  .input-to-cart{
    text-align:center;
  }
  .payment{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 27px;
  }
  .switch-text{
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }
  .default-cursor{
    cursor: default;
  }