.App {
  text-align: center;
  direction: rtl;
}
  .menu-list-item{
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    border-left: 1px solid currentColor;
  }
  .menu-list-item-txt{
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border: none;
  }
  .menu-list-item-txt:hover{
    font-weight: bold;
  }
  .divider {
    margin-bottom: -1px;
    border-top: 1px solid currentColor;
    opacity: 0.1;
  }
  .product{
    display:inline-block;
    margin-right: 15px;
    margin-left: 15px;
  }
  .margin-top-bottom{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .product-name{
    font-weight: bold;
    margin-left:10px;
  }

